<div data-role="content">
    <form name="calculatorForm" novalidate="">
        <div>
            <select style="width:100%" onchange=""  ng-model="loanModel.brand" ng-options="m.brand as m.name for m in selectedBrand">
                <option value="">品牌</option>
            </select>
            <select style="width:100%"  ng-change="a()" ng-model="loanModel.typeSelected.name" ng-options="m.name as m.name for m in selectedType">
                <option value="">车型</option>
            </select>
        </div>

        <select  style="width:100%">
            <option value="">贷款方案</option>
            <option value="">标准信贷</option>
        </select>

        <div>
            <select style="width:100%" ng-model="loanModel.loan.periodselect" ng-options="m.period as m.name for m in periodModel">
                <option value="">期数</option>

            </select>
        </div>

        <div>

            <input style="width:94%;background-image:url(images/inputimg/test1.png);background-position: left;background-repeat:  no-repeat;text-align: right;background-size:93px 19px " ng-model="loanModel.typeSelected.price"  type="number"    autocomplete="off"/>
            <input style="width:94%;background-image:url(images/inputimg/test2.png) ;background-position: left;background-repeat:  no-repeat;text-align: right;background-size:91px 19px " ng-model="loanModel.loan.downPaymentPercent" max="100" min="0"  ng-change="downPaymentPercent()" type="number"  autocomplete="off"/>
            <input style="width:94%;background-image:url(images/inputimg/test3.png) ;background-position: left;background-repeat:  no-repeat;text-align: right;background-size:67px 19px " ng-model="loanModel.loan.downPaymentAmount" ng-change="downPaymentAmount()" type="number" autocomplete="off"/>
            <input style="width:94%;background-image:url(images/inputimg/test4.png) ;background-position: left;background-repeat:  no-repeat;text-align: right;background-size:82px 17px " ng-model="loanModel.loan.idealPayment" type="number"  autocomplete="off"/>

        </div>

        <div>
            <a data-ui-sref="quotation"  data-icon="grid"><button ng-click="calculate()">计算</button></a>
            <button ng-click="reset()">清空</button>
        </div>
    </form>

