<div data-role="content" style="">
    <div style="width:50%;text-align: left;">
        问题一： 你是否收入稳定，向往轻松便捷的生活？
        <br/>
        <!--        <button ng-click='toggleModal()'>是</button>
                 <div>
                <modal-dialog show='modalShown' width='400px' height='60%'>
                    <p>Content<p>
                    <button ng-click="Dialog1yes()">是</button>
                    <button ng-click="Dialog1no()">否</button>                
                </modal-dialog>
                 </div>
                <button style="position: relative;top: -30px;left: 40px;" ng-click="Q1cancle()">否</button>-->
        <button ng-click="Q1yes()">是</button>
        <button ng-click="Q1no()">否</button>
    </div>
    <div>
        问题二： 你是否能够灵活的使用可支配收入，经常更新自己的座驾
        <br/>
        <button ng-click="Q2yes()">是</button>
        <button ng-click="Q2no()">否</button>
    </div>
<!--    <div>
        <button ng-click="getLocation()">试一下</button>

    </div>-->
</div>
