<div data-role="content">
    <div>
        <div>
            <select style="width:100%" ng-model="loanModel.brand" ng-options="m.brand as m.name for m in selectBrand">
                <option value="">请选择品牌</option>
            </select>
        </div>    
        <div>
            <select style="width:100%" ng-model="loanModel.typeSelected" ng-options="m as m.name for m in selectedType">
                <option value="">请选择型号</option>
            </select>
        </div>  
        <div style="text-align: center">
            <a  ng-click="toquestionnaire()"><img ng-src="{{loanModel.typeSelected.image}}"/></a>
            <br/>
            <a>显示车价:{{loanModel.typeSelected.price / 10000}}万</a>
        </div>
    </div>
</div>
